alembic==0.8.10
appnope==0.1.0
click==6.7
decorator==4.0.11
Flask==0.11.1
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.4
Mako==1.0.6
MarkupSafe==0.23
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
python-editor==1.0.3
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.4
traitlets==4.3.1
wcwidth==0.1.7
Werkzeug==0.11.15
